.language-selector {
    background-color: transparent;
    color: aliceblue;
    border-color: transparent !important;
    padding: 0px;
    margin-right: 10px;
    margin-left: 10px;
    width: 80%;
    cursor: pointer !important;
    align-items: center;
    font-family: 'Nunito', sans-serif !important;
}

.flag-en {
    background-image: url('../graphics/flags/flag-en.jpeg');
    background-repeat: no-repeat;
    padding-left: 20px;
    color: blue;
}

.flag-fr {
    background-image: url('../graphics/flags/flag-fr.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    color: blue;
}

input[type="image"] {
    width: 30px;
    height: auto;
    margin: 0 5px;
}
