.admin-dashboard {
    padding: 120px 50px;
    height: 100vh;
  }
  
  .dashboard-body {
    width: 100%;
    height: calc(100vh - 240px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #70707044;
    box-shadow: 0 0 15px rgba(137, 43, 226, 0.75);
  }
  
  .dashboard-subcontent {
    padding: 0 10px;
  }

  .tabs {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .tabs button {
    flex-grow: 1;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s ease;
  }
  
  .tabs button:hover, .tabs button:focus {
    background-color: #7c00ad;
    color: aliceblue;
  }
  
  .tabs button.active {
    border-color: #9101ca;
    border-bottom: 2px solid #ae00ff;
  }
  
  .tab-content {
    width: 100%;
    padding: 20px 0;
    align-items: center;
  }
  
  .admin-grid {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
  }
  
  .admin-card, .card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  
  