html {
  scroll-behavior: smooth;
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    top: 0px;
    background-color: #202020;
    margin: 0 0;
    box-shadow:0 0 15px #3030303f;
    z-index: 2000;
  }

.left {
  padding-left: 20px;
}

.center {
  padding: 50px;
}
  
.right {
  justify-content: center;
}

.right-group {
  display:flex;
  margin-bottom: 5px;
  color: aliceblue;
}

.right-group a {
  display:flex;
  margin-bottom: 5px;
  color: aliceblue;
}
/*****************************************************************/  
/* Mobile header */

@media (max-width: 768px) {
  .header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #202020;
  }

  .left {
    padding-left: 5px;
    justify-content: center;
  }
  
  .center {
    padding: 0;
    justify-content: center;
  }
    
  .right {
    padding-right: 5px;
    justify-content: center;
  }
  
  .right-group {
    display:flex;
    margin-bottom: 5px;
    color: aliceblue;
    border-color: 1px solid whitesmoke;
  }
}